.container form {
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 28px 21px;
    align-items: center;
    flex-direction: column;
  }
  
  .container input, textarea, select { 
    width: 75%;
    padding: 14px;
    font-size: 14px;
    resize: vertical;
    border-radius: 5px;
    color: black;
    margin: 7px 0px 14px 0px;
    border: 1px solid var(--border);
    background-color: rgb(73, 66, 117);
  }
  
  .container textarea {
    min-height: 50px;
  }
  
  .container label {
    font-weight: 600;
    margin: 7px 0px 14px 0px;
  }
  
  .container button {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #6c67b4;
    cursor: pointer;
    border: 2px solid;
    padding: 0.5em 0.50em;
    margin: 0.50em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
      
.container button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.container button:hover {
    color: #8190f0;
}
      
@media (min-width: 768px) {
    button {
        padding: 0.25em 0.50em;
    }
}
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--primary);
  }
  