.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  margin-bottom: .1px;
  height: 6rem;
}

.header > h1 {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-top: .2px;
}